=ico($content)
	font-family: 'FontAwesome'
	font-style: normal
	font-weight: normal
	content: $content

=icoSkill($content)
	font-family: 'Ico'
	font-style: normal
	font-weight: normal
	content: $content

=section($bg)
	display: flex
	flex-wrap: wrap
	padding: 3rem
	background-color: $bg

=mq($width, $type: max)
	@media screen and (#{$type}-width: $width)
		@content