@charset "UTF-8";
@font-face {
  font-family: "FontAwesome";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.ttf") format("truetype"); }

@font-face {
  font-family: "Ico";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ionicons.woff") format("woff"), url("../fonts/ionicons.ttf") format("truetype"); }

.promo__btn, .work__btn, .contact__btn, .nav__link {
  cursor: pointer;
  font-size: .6rem;
  letter-spacing: .25em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: .75rem 0; }

.promo__btn, .work__btn, .contact__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  z-index: 1;
  color: #fff;
  border: solid 1px;
  border-color: rgba(255, 255, 255, 0.15);
  border-radius: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden; }
  .promo__btn:before, .work__btn:before, .contact__btn:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    opacity: 0;
    overflow: hidden;
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
    -webkit-transition: .2s ease;
    transition: .2s ease; }
  .promo__btn:hover, .work__btn:hover, .contact__btn:hover {
    border-color: rgba(255, 255, 255, 0.55); }
    .promo__btn:hover:before, .work__btn:hover:before, .contact__btn:hover:before {
      opacity: .05;
      -webkit-transform: scale(1);
              transform: scale(1); }

.skills__header, .contact__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #fff; }
  .skills__header:after, .contact__header:after {
    content: '';
    height: 3px;
    width: 100px;
    background-color: #5fd8fb; }

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16.5pt;
  line-height: 1.75;
  color: rgba(255, 255, 255, 0.55); }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  background: #312450;
  padding: 2.5rem;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: right;
  z-index: 100; }

.nav__inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.nav__item {
  position: relative;
  margin-bottom: 1.5rem; }
  .nav__item:last-child {
    margin-bottom: 0; }
  .nav__item .active {
    color: #fff; }
    .nav__item .active:after {
      max-width: 100%; }

.nav__link {
  display: block;
  color: rgba(255, 255, 255, 0.35); }
  .nav__link:before, .nav__link:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 0.1rem;
    border-radius: 0.2rem; }
  .nav__link:before {
    background: #3c2c62; }
  .nav__link:after {
    background: -webkit-linear-gradient(left, #5e42a6, #b74e91);
    background: linear-gradient(to right, #5e42a6, #b74e91);
    max-width: 0;
    -webkit-transition: .2s ease;
    transition: .2s ease; }

.page {
  margin-left: 400px; }

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  min-height: 100vh;
  padding: 3rem;
  background-color: #5e42a6;
  background-image: url(../images/intro.svg);
  background-attachment: fixed;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.promo__title {
  width: 100%; }

.promo__name {
  color: #fff;
  text-shadow: 6px 4px 3px rgba(255, 255, 255, 0.3);
  font-size: 3.5rem;
  line-height: 4rem; }

.promo__description {
  color: #fff;
  text-shadow: 6px 4px 3px rgba(255, 255, 255, 0.3);
  font-size: 2rem; }

.works {
  background: #5052b5; }

.works__work:nth-child(2) {
  background: rgba(0, 0, 0, 0.05); }

.works__work:nth-child(3) {
  background: rgba(0, 0, 0, 0.1); }

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 22.5rem; }

.work__img {
  background-image: url(../images/1.jpg);
  background-size: cover;
  background-position: center center;
  width: 38rem; }

.work__info {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.work__title {
  font-size: 1.75rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 1rem; }

.work__description {
  margin-bottom: 1rem; }

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem;
  background-color: #5e42a6; }

.skills__col {
  width: 33.3333%;
  padding: 1rem; }

.skills__title {
  font-size: 1.75rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.skills__ico {
  font-size: 2.5rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.skills__ico--html:after {
  font-family: 'Ico';
  font-style: normal;
  font-weight: normal;
  content: ""; }

.skills__ico--css:after {
  font-family: 'Ico';
  font-style: normal;
  font-weight: normal;
  content: ""; }

.skills__ico--js:after {
  font-family: 'Ico';
  font-style: normal;
  font-weight: normal;
  content: ""; }

.skills__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.skills__img {
  width: 20%;
  padding: 2rem; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem;
  background-color: #5052b5; }

.contact__form {
  width: 66.66666%; }

.contact__info {
  width: 33.33333%; }

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 2rem;
  border-right: 1px solid rgba(255, 255, 255, 0.15); }

.contact__input, .contact__text {
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-right: .25rem;
  color: inherit; }

.contact__input {
  padding: 0 1rem; }

.contact__text {
  padding: 0.75rem 1rem;
  resize: none; }

.contact__input {
  height: 2.5rem; }

.contact__lbl {
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem; }

.conatct__group {
  width: 50%;
  padding: .5rem; }

.conatct__group--full {
  width: 100%;
  padding: .5rem; }

.contact__info {
  padding-left: 2rem; }

.info__group {
  padding: .5rem; }

.info__title {
  font-size: 1.1rem;
  color: #fff;
  font-weight: bold; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3rem;
  background-color: #493382;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.footer__rights {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.15); }
