.contact
  +section($contact-bg)  

.contact__header
  @extend %title

.contact__form
  width: 66.66666%
  display: flex
  flex-wrap: wrap
  padding-right: 2rem
  border-right: 1px solid rgba(255, 255, 255, 0.15)
  +mq($s)
    width: 100%
    padding-right: 0
    padding-bottom: 2rem
    border-right: none
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)

.contact__info
  width: 33.33333%
  padding-left: 2rem
  +mq($s)
    width: 100% 
    padding-left: 0
    padding-top: 2rem
  

.contact__input, .contact__text
  width: 100%
  background: rgba(255, 255, 255, .05)
  border: 1px solid rgba(255, 255, 255, .15)
  border-right: .25rem
  color: inherit

.contact__input
  padding: 0 1rem

.contact__text
  padding: 0.75rem 1rem
  resize: none

.contact__input
  height: 2.5rem

.contact__lbl
  color: #fff
  font-weight: bold
  font-size: 1.1rem

.conatct__group
  width: 50%
  padding: .5rem
  +mq($s)
    width: 100%

.conatct__group--full
  width: 100%
  padding: .5rem

.contact__btn
  @extend %btn

.info__group
  padding: .5rem

.info__title
  font-size: 1.1rem
  color: #fff
  font-weight: bold

.info__main
  &:before 
    +ico('\f0e0')
    margin-right: 0.5rem

.info__phone
  &:before 
    +ico('\f095')
    margin-right: 0.5rem

.info__skype
  &:before 
    +ico('\f17e')
    margin-right: 0.5rem