.promo 
  +section($promo-bg)
  position: relative
  justify-content: center
  align-items: flex-end
  text-align: center
  min-height: 320px  
  height: 100vh  

  background-image: url(../images/intro.svg)
  background-attachment: fixed
  background-position: top right
  background-repeat: no-repeat
  background-size: 100% 100%
  canvas
    position: absolute
    top: 0
    left: 0

.promo__title
  width: 100%

.promo__name
  color: #fff
  text-shadow: 6px 4px 3px rgba(255,255,255,.3)
  font-size: 3.5rem
  line-height: 4rem

.promo__description
  color: #fff
  text-shadow: 6px 4px 3px rgba(255,255,255,.3)
  font-size: 2rem

.promo__hidden
  display: none

.promo__btn
  @extend %btn